# Export all names
exportPattern(".")
importFrom("sm", "pause")
importFrom("graphics", "abline", "image", "lines", "par", "plot", "points",
    "rect", "segments", "text")
importFrom("stats", "as.hclust")
importFrom("grDevices", "colorRampPalette")

